<h1>Holiday drinks</h1>

<%= form_tag("/recipes/home", :method => "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @q.present? %>
<div class="drinks">
<% n = 0 %>
<ul>
<% while n < @info["results"].length %>
<li><%= link_to @info["results"][n]["title"], @info["results"][n]["href"] %></li>
<% n += 1 %>
<%end%>
</ul>
</div>

<div class="instagram">

	<ul> <% n = 0 %>
		<% while n < 12 %>
		<% n += 1 %>
			<li> <img src=<%= @hash["data"][n]["images"]["thumbnail"]["url"] %>><br>
			<%= @hash["data"][n]["filter"] %>
			</li>
		<% end %>
	</ul>

</div>
<%end%>